{% extends "!layout.html" %}
{% block rootrellink %}
    <li><a href="/">Chameleon Documentation</a> &raquo;</li>
    {# {{ super() }} #}
{% endblock %}
{% set css_files = css_files + [ "_static/css/textstyles.css" ] %}
{% set css_files = css_files + [ "_static/css/toggle.css" ] %}
{% block footer %}
 <script type="text/javascript">
    $(document).ready(function() {
        $(".toggle > *").hide();
        $(".toggle .header").show();
        $(".toggle .header").click(function() {
            $(this).parent().children().not(".header").toggle(400);
            $(this).parent().children(".header").toggleClass("open");
        })
    });
</script>
{% endblock %}
